In [1]:
import pandas as pd
import datetime as dt

In [2]:
df_products = pd.read_csv("merge_fullIdClean.csv")

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_products.head()

   Unnamed: 0        fullVisitorId v2ProductCategory        date
0           0  5182045908444892546      Home/Office/  20161111.0
1           1  5182045908444892546      Home/Office/  20161111.0
2           2  5182045908444892546      Home/Office/  20161111.0
3           3  5182045908444892546      Home/Office/  20161111.0
4           4  5182045908444892546      Home/Office/  20161111.0

In [4]:
df_products['date'] = pd.to_datetime(df_products['date'].astype(str), format='%Y%m%d')
df_products

         Unnamed: 0        fullVisitorId v2ProductCategory       date
0                 0  5182045908444892546      Home/Office/ 2016-11-11
1                 1  5182045908444892546      Home/Office/ 2016-11-11
2                 2  5182045908444892546      Home/Office/ 2016-11-11
3                 3  5182045908444892546      Home/Office/ 2016-11-11
4                 4  5182045908444892546      Home/Office/ 2016-11-11
...             ...                  ...               ...        ...
2674615     2864492  2428100605123827385               NaN 2016-11-30
2674616     2864493  6701510782277361213               NaN 2016-11-30
2674617     2864494   213959680705510975               NaN 2016-11-30
2674618     2864495  6654269282597048936               NaN 2016-11-30
2674619     2864496  5931368927684740778               NaN 2016-11-30

[2674620 rows x 4 columns]

In [5]:
df_products.columns

Index(['Unnamed: 0', 'fullVisitorId', 'v2ProductCategory', 'date'], dtype='object')

In [10]:
df_products = df_products.groupby(["date", "v2ProductCategory"])["date"].agg(["count"]).reset_index()
df_products

           date          v2ProductCategory  count
0    2016-11-01                    Apparel      1
1    2016-11-01                  Backpacks      1
2    2016-11-01                       Bags      1
3    2016-11-01                    Bottles      1
4    2016-11-01                  Drinkware      1
...         ...                        ...    ...
1628 2016-11-30                  Lifestyle      1
1629 2016-11-30                 Lifestyle/      1
1630 2016-11-30       Notebooks & Journals      1
1631 2016-11-30                     Office      1
1632 2016-11-30  Wearables/Men's T-Shirts/      1

[1633 rows x 3 columns]

In [7]:
df_products.to_csv("dateProductCount.csv", index=False)