In [4]:
import pandas as pd

In [5]:
file = 'New_data_csv/Main_Data_CSV/Main_table.csv'

In [6]:
df = pd.read_csv(file, encoding="ISO-8859-1")
df.head()

,visitNumber,visitId,visitStartTime,date,fullVisitorId,channelGrouping,socialEngagementType,visits,hits,pageviews,...,browser,operatingSystem,isMobile,deviceCategory,continent,subContinent,country,region,city,networkDomain
0,1,1478008845,1478008845,20161101,9352881518669559847,Organic Search,Not Socially Engaged,1,1,1.0,...,Chrome,Android,True,mobile,Europe,Western Europe,Germany,Hamburg,Hamburg,(not set)
1,1,1478002133,1478002133,20161101,4906813510055416703,Organic Search,Not Socially Engaged,1,1,1.0,...,Chrome,Windows,False,desktop,Asia,Eastern Asia,Taiwan,Taipei City,(not set),hinet.net
2,1,1477995977,1477995977,20161101,4091646801425702074,Organic Search,Not Socially Engaged,1,1,1.0,...,Chrome,Windows,False,desktop,Europe,Southern Europe,Spain,not available in demo dataset,not available in demo dataset,comunitel.net
3,1,1478034201,1478034201,20161101,5401793363522001290,Direct,Not Socially Engaged,1,1,1.0,...,Opera Mini,Android,True,mobile,Africa,Western Africa,Niger,not available in demo dataset,not available in demo dataset,(not set)
4,1,1478055650,1478055650,20161101,4440833520759626888,Organic Search,Not Socially Engaged,1,1,1.0,...,Chrome,Linux,False,desktop,Americas,Northern America,United States,not available in demo dataset,not available in demo dataset,utah.edu

In [7]:
df.count()

visitNumber             113971
visitId                 113971
visitStartTime          113971
date                    113971
fullVisitorId           113971
channelGrouping         113971
socialEngagementType    113971
visits                  113971
hits                    113971
pageviews               113961
timeOnSite               56353
bounces                  57519
newVisits                94779
campaign                113971
source                  113971
medium                  113971
page                      1933
slot                      1933
adNetworkType             1933
isVideoAd                 1933
browser                 113971
operatingSystem         113971
isMobile                113971
deviceCategory          113971
continent               113971
subContinent            113971
country                 113971
region                  113971
city                    113971
networkDomain           113971
dtype: int64

In [8]:
browser_df = pd.DataFrame({"Visitor": df["fullVisitorId"],
                    "Browser": df["browser"]})
browser_df.head()

               Visitor     Browser
0  9352881518669559847      Chrome
1  4906813510055416703      Chrome
2  4091646801425702074      Chrome
3  5401793363522001290  Opera Mini
4  4440833520759626888      Chrome

In [10]:

browser_grouped = browser_df.groupby("Browser").count()
browser_grouped

                          Visitor
Browser
Amazon Silk                    48
Android Browser                43
Apple-iPhone7C2                 1
BlackBerry                     25
Chrome                      70033
Coc Coc                        58
DASH_JR_3G                      1
Edge                          924
Firefox                      3316
Internet Explorer            1881
Iron                            2
LYF_LS_4002_12                  4
MQQBrowser                      1
MRCHROME                       24
Maxthon                        27
Mozilla                         2
Mozilla Compatible Agent       32
Nichrome                        2
Nintendo Browser               13
Nokia Browser                   3
Opera                         554
Opera Mini                    501
Safari                      35845
Safari (in-app)               276
ThumbSniper                     1
UC Browser                    160
YaBrowser                     194

In [16]:
sorted_browser = browser_grouped.sort_values("Visitor", ascending=False)
sorted_browser

                          Visitor
Browser
Chrome                      70033
Safari                      35845
Firefox                      3316
Internet Explorer            1881
Edge                          924
Opera                         554
Opera Mini                    501
Safari (in-app)               276
YaBrowser                     194
UC Browser                    160
Coc Coc                        58
Amazon Silk                    48
Android Browser                43
Mozilla Compatible Agent       32
Maxthon                        27
BlackBerry                     25
MRCHROME                       24
Nintendo Browser               13
LYF_LS_4002_12                  4
Nokia Browser                   3
Mozilla                         2
Nichrome                        2
Iron                            2
MQQBrowser                      1
DASH_JR_3G                      1
ThumbSniper                     1
Apple-iPhone7C2                 1

In [17]:
sorted_browser.to_csv(r'C:\Users\luand\UCSD_SD_DATA\Project-Files\New_data_csv\cleaned_data.csv', index=True, header = True)
print(browser_df)

                    Visitor     Browser
0       9352881518669559847      Chrome
1       4906813510055416703      Chrome
2       4091646801425702074      Chrome
3       5401793363522001290  Opera Mini
4       4440833520759626888      Chrome
...                     ...         ...
113966  5446906624026779916      Safari
113967  8712448435819918735      Chrome
113968  6943002941167522609      Chrome
113969  6558336072397114861      Chrome
113970  7263171742001601494      Chrome

[113971 rows x 2 columns]

In [15]:
hit_pages_path = 'New_data_csv/Hits_Page/Hits_Page.csv'

In [18]:
hit_page_df = pd.read_csv(hit_pages_path, encoding="utf-8")
hit_page_df.head(20)

,visitId,fullVisitorId,pagePath,hostname,pageTitle,pagePathLevel1,pagePathLevel2,pagePathLevel3,pagePathLevel4
0,1478008845,9352881518669559847,/home,www.googlemerchandisestore.com,Google Online Store,/home,NaN,NaN,NaN
1,1478002133,4906813510055416703,/home,www.googlemerchandisestore.com,Google Online Store,/home,NaN,NaN,NaN
2,1477995977,4091646801425702074,/home,www.googlemerchandisestore.com,Google Online Store,/home,NaN,NaN,NaN
3,1478034201,5401793363522001290,/home,www.googlemerchandisestore.com,Google Online Store,/home,NaN,NaN,NaN
4,1478055650,4440833520759626888,/home,www.googlemerchandisestore.com,Google Online Store,/home,NaN,NaN,NaN
5,1478004902,4117892917492985550,/home,www.googlemerchandisestore.com,Google Online Store,/home,NaN,NaN,NaN
6,1478017327,9331539779363444493,/home,www.googlemerchandisestore.com,Google Online Store,/home,NaN,NaN,NaN
7,1478030629,2950916692439446426,/home,www.googlemerchandisestore.com,Google Online Store,/home,NaN,NaN,NaN
8,1478053841,1063735344182861016,/home,www.googlemerchandisestore.com,Google Online Store,/home,NaN,NaN,NaN
9,1477999633,5853608616657906344,/home,www.googlemerchandisestore.com,Google Online Store,/home,NaN,NaN,NaN
10,1478035331,5438610451146798739,/home,www.googlemerchandisestore.com,Google Online Store,/home,NaN,NaN,NaN
11,1477993686,7643887627832413677,/home,www.googlemerchandisestore.com,Google Online Store,/home,NaN,NaN,NaN
12,1478007791,7056159303429818352,/home,www.googlemerchandisestore.com,Google Online Store,/home,NaN,NaN,NaN
13,1478011617,822063744245507195,/home,www.googlemerchandisestore.com,Google Online Store,/home,NaN,NaN,NaN
14,1478013433,1374604189467793731,/home,www.googlemerchandisestore.com,Google Online Store,/home,NaN,NaN,NaN
15,1478012112,4756908582791219126,/home,www.googlemerchandisestore.com,Google Online Store,/home,NaN,NaN,NaN
16,1478013284,1173779748805978180,/home,www.googlemerchandisestore.com,Google Online Store,/home,NaN,NaN,NaN
17,1478037158,9327945157034205617,/home,www.googlemerchandisestore.com,Google Online Store,/home,NaN,NaN,NaN
18,1478010607,9589013743573470520,/home,www.googlemerchandisestore.com,Google Online Store,/home,NaN,NaN,NaN
19,1478003928,4608488159447817890,/home,www.googlemerchandisestore.com,Google Online Store,/home,NaN,NaN,NaN

In [17]:
hit_page_df.count()

visitId           416071
fullVisitorId     416071
pagePath          416071
hostname          416071
pageTitle         416044
pagePathLevel1    416071
pagePathLevel2    197568
pagePathLevel3    160072
pagePathLevel4     68213
dtype: int64

In [25]:
domain_data_df = pd.DataFrame({"Visitors": hit_page_df["fullVisitorId"], 
                                "Domain": hit_page_df["hostname"],
                                "Path": hit_page_df["pagePath"]
                                "path1": hit_page_df["pagePathLevel1"]
                                 })
domain_data_df.head(300)

                Visitors                          Domain
0    9352881518669559847  www.googlemerchandisestore.com
1    4906813510055416703  www.googlemerchandisestore.com
2    4091646801425702074  www.googlemerchandisestore.com
3    5401793363522001290  www.googlemerchandisestore.com
4    4440833520759626888  www.googlemerchandisestore.com
..                   ...                             ...
295  1415334905371212848  www.googlemerchandisestore.com
296  9879976446716457789  www.googlemerchandisestore.com
297  9210193289313557479  www.googlemerchandisestore.com
298   645901153671541537  www.googlemerchandisestore.com
299  8004767510725447834  www.googlemerchandisestore.com

[300 rows x 2 columns]

In [23]:
domain_data_df.count()

Visitors    416071
Domain      416071
dtype: int64

In [24]:
domain_type = domain_data_df["Domain"].unique()
domain_type

array(['www.googlemerchandisestore.com',
       'shop.googlemerchandisestore.com'], dtype=object)