In [3]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
import os, sys
import datetime as dt

In [4]:
clean_main_data = pd.read_csv("clean_main_data.csv")
clean_main_data.head()

,visitId,fullVisitorId,date,channelGrouping,hits,timeOnSite,browser,operatingSystem,deviceCategory,continent,country,region,city,networkDomain
0,1478008845,9352881518669559847,20161101,Organic Search,1,NaN,Chrome,Android,mobile,Europe,Germany,Hamburg,Hamburg,(not set)
1,1478002133,4906813510055416703,20161101,Organic Search,1,NaN,Chrome,Windows,desktop,Asia,Taiwan,Taipei City,(not set),hinet.net
2,1477995977,4091646801425702074,20161101,Organic Search,1,NaN,Chrome,Windows,desktop,Europe,Spain,not available in demo dataset,not available in demo dataset,comunitel.net
3,1478034201,5401793363522001290,20161101,Direct,1,NaN,Opera Mini,Android,mobile,Africa,Niger,not available in demo dataset,not available in demo dataset,(not set)
4,1478055650,4440833520759626888,20161101,Organic Search,1,NaN,Chrome,Linux,desktop,Americas,United States,not available in demo dataset,not available in demo dataset,utah.edu

In [37]:
unique_desktop=clean_main_data[(clean_main_data["deviceCategory"]=="desktop")].groupby("visitId")
unique_desktop.count()

,fullVisitorId,date,channelGrouping,hits,timeOnSite,browser,operatingSystem,deviceCategory,continent,country,region,city,networkDomain
visitId,,,,,,,,,,,,,
1477982346,1,1,1,1,1,1,1,1,1,1,1,1,1
1477983528,1,1,1,1,1,1,1,1,1,1,1,1,1
1477983600,1,1,1,1,1,1,1,1,1,1,1,1,1
1477983612,1,1,1,1,0,1,1,1,1,1,1,1,1
1477983632,1,1,1,1,0,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480579043,1,1,1,1,1,1,1,1,1,1,1,1,1
1480579097,1,1,1,1,1,1,1,1,1,1,1,1,1
1480579111,2,2,2,2,0,2,2,2,2,2,2,2,2
1480579149,1,1,1,1,0,1,1,1,1,1,1,1,1
1480579173,1,1,1,1,0,1,1,1,1,1,1,1,1